APP_ENV=local
APP_URL=https://localhost

DB_HOST=sql
DB_PORT=5432
DB_DATABASE=auth
DB_USERNAME=marketplace
DB_PASSWORD=marketplace

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_HOST=mail
MAIL_PORT=1025

JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800
